In [12]:
#Declaração das Bibliotecas a serem importadas

import matplotlib as plt
import pandas as pd

#Lendo os dados do arquivo e armazenando na variável leitor
data = 'basedados.xlsx'
excel = pd.ExcelFile(data)
print(excel.sheet_names)
leitor = excel.parse(0)
leitor.head()

['MegaSena']

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0

In [61]:
#Vendo a quantidade de concursos realizados
leitor.shape[0]

2025

In [13]:
#Criando uma lista com os nomes das colunas que armazenam os números sorteados 
colunas = ["Dezena1", "Dezena2", "Dezena3", "Dezena4", "Dezena5", "Dezena6"]

#Observando os 6 números que mais apareceram nos decorrer de todos os sorteios 
leitor[colunas].unstack().value_counts()[0:6]

5     233
53    230
10    227
23    224
4     224
54    221
dtype: int64

In [19]:
#Análise dos 50 primeiros Sorteios
leitor.iloc[0:50]

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0
5,6,1996-04-15,19,40,7,13,22,47,0.0,0,0.00,109,7214.66,7147,110.03,SIM,2286166.33,0
6,7,1996-04-22,56,38,21,20,3,5,0.0,0,0.00,100,8746.05,5736,152.48,SIM,3335692.28,0
7,8,1996-04-29,53,17,38,4,47,37,0.0,0,0.00,60,16084.11,5262,183.40,SIM,4493748.19,0
8,9,1996-05-06,55,43,56,54,8,60,0.0,0,0.00,17,60043.79,2175,469.31,SIM,5718641.49,0
9,10,1996-05-13,25,4,18,57,21,38,0.0,0,0.00,251,6638.45,12590,132.35,SIM,13334769.81,0
10,11,1996-05-20,25,15,58,37,59,38,0.0,1,15591365.07,148,12706.05,9442,199.16,NÃO,0.00,0
11,12,1996-05-27,20,27,43,16,19,4,0.0,0,0.00,108,6791.17,6454,113.64,SIM,880136.24,0
12,13,1996-06-03,47,32,50,54,18,56,0.0,0,0.00,43,20543.98,2934,301.09,SIM,1940205.35,0
13,14,1996-06-10,16,2,27,47,23,53,0.0,0,0.00,85,10458.19,5323,167.00,SIM,3006941.32,0
14,15,1996-06-17,60,12,33,52,35,51,0.0,0,0.00,57,17919.89,3931,259.84,SIM,4232661.35,0
15,16,1996-06-24,60,58,49,32,20,34,0.0,0,0.00,31,33307.13,3250,317.70,SIM,5471686.62,0
16,17,1996-07-01,10,20,6,19,51,13,0.0,1,6789869.08,144,7628.37,9376,117.16,NÃO,0.00,0
17,18,1996-07-08,37,36,56,27,42,23,0.0,0,0.00,52,13763.52,4484,159.61,SIM,858843.48,0
18,19,1996-07-15,5,25,12,10,60,24,0.0,0,0.00,159,5380.14,9250,92.48,SIM,10506266.73,0
19,20,1996-07-22,25,28,30,33,51,11,0.0,0,0.00,72,15486.97,5728,194.67,SIM,11844340.83,0
20,21,1996-07-29,49,46,6,53,33,36,0.0,0,0.00,63,17694.19,5030,221.62,SIM,13182021.44,0
21,22,1996-08-05,9,38,56,1,31,46,0.0,0,0.00,47,27212.90,4865,262.90,SIM,14716828.84,0
22,23,1996-08-12,17,52,51,59,39,37,0.0,0,0.00,74,20198.46,4897,305.23,SIM,16510452.00,0
23,24,1996-08-19,1,8,14,28,33,43,0.0,1,18661679.61,227,7897.31,13486,132.93,NÃO,0.00,0
24,25,1996-08-25,56,50,55,54,24,43,0.0,0,0.00,28,26338.50,2741,269.06,SIM,884973.50,0
25,26,1996-09-01,50,53,57,10,58,22,0.0,0,0.00,16,52473.74,1823,460.55,SIM,1892469.30,0
26,27,1996-09-08,44,33,13,51,17,20,0.0,0,0.00,99,9306.24,6466,142.49,SIM,2998050.68,0
27,28,1996-09-15,60,6,22,3,24,54,0.0,0,0.00,50,19749.22,4895,201.73,SIM,4183003.48,0
28,29,1996-09-22,14,56,58,8,43,3,0.0,1,5401793.60,44,23083.15,5248,193.53,NÃO,0.00,0
29,30,1996-09-29,38,50,7,29,15,14,0.0,0,0.00,80,11347.74,5885,154.26,SIM,10127520.80,0
30,31,1996-10-06,56,19,28,48,17,45,0.0,0,0.00,103,8793.04,5680,159.45,SIM,11214340.46,0
31,32,1996-10-13,43,33,14,36,5,44,0.0,0,0.00,96,11430.91,6876,159.60,SIM,12531181.83,0
32,33,1996-10-20,5,33,49,17,42,39,0.0,1,13997410.74,128,9545.76,8722,140.09,NÃO,0.00,0
33,34,1996-10-27,15,13,57,53,40,17,0.0,0,0.00,51,13604.06,2627,264.11,SIM,832568.20,0
34,35,1996-11-03,21,57,16,23,54,4,0.0,0,0.00,39,20051.18,3576,218.68,SIM,1770963.49,0
35,36,1996-11-10,13,3,51,17,29,25,0.0,0,0.00,143,6238.12,8548,104.36,SIM,2841425.78,0
36,37,1996-11-17,22,6,7,52,38,60,0.0,0,0.00,47,16848.61,3695,214.32,SIM,3791687.26,0
37,38,1996-11-24,55,42,10,43,45,54,0.0,0,0.00,24,38863.10,1999,466.59,SIM,4910944.53,0
38,39,1996-12-01,16,37,45,52,56,12,0.0,0,0.00,73,13459.05,4444,221.09,SIM,13456111.33,0
39,40,1996-12-08,3,12,46,5,47,8,0.0,0,0.00,189,7789.93,12117,121.51,SIM,15222867.04,0
40,41,1996-12-15,38,26,35,39,12,47,0.0,1,17019238.50,148,10114.70,10182,147.03,NÃO,0.00,0
41,42,1996-12-22,24,36,19,33,7,11,0.0,0,0.00,201,3684.64,9580,77.31,SIM,888735.02,0
42,43,1996-12-29,2,58,25,6,26,17,0.0,0,0.00,75,9738.03,5070,144.06,SIM,1765157.22,0
43,44,1997-01-05,47,38,18,14,29,44,0.0,0,0.00,103,7099.32,7742,94.45,SIM,2642633.14,0
44,45,1997-01-12,30,7,37,55,44,53,0.0,0,0.00,33,27201.47,3004,298.82,SIM,3719811.46,0
45,46,1997-01-19,32,46,1,60,24,23,0.0,0,0.00,91,9982.42,6263,145.04,SIM,4809891.56,0
46,47,1997-01-26,35,17,3,48,25,56,0.0,0,0.00,210,4458.44,10873,85.94,SIM,5933418.51,0
47,48,1997-02-02,47,5,34,28,2,50,0.0,0,0.00,132,7482.95,7454,132.25,SIM,7118717.38,0
48,49,1997-02-09,33,7,43,35,13,55,0.0,1,8405156.76,155,6916.34,9830,108.85,NÃO,0.00,0
49,50,1997-02-16,57,44,21,16,58,6,0.0,0,0.00,31,25241.25,2800,278.91,SIM,8917830.39,0

In [39]:
#Vendo os números que mais apareceram no decorrer do 50 primeiros sorteios
leitor[leitor["Concurso"] < 50][colunas].unstack().value_counts()[0:6]

33    10
56    10
38     9
17     9
43     9
47     9
dtype: int64

In [21]:
#Análise dos 50 últimos Sorteios
leitor.iloc[-51:-1]

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
1974,1975,2017-10-07,8,24,47,26,11,57,43635819.5,1,2.257535e+07,76,33102.68,5845,614.88,NÃO,0.000000e+00,3000000
1975,1976,2017-10-11,52,14,19,12,59,25,26666353.0,0,0.000000e+00,62,24797.36,3551,618.51,SIM,2.832120e+06,6000000
1976,1977,2017-10-14,28,3,32,34,37,16,28787773.0,1,5.889547e+06,91,18238.97,4723,502.02,NÃO,0.000000e+00,2500000
1977,1978,2017-10-17,6,2,57,22,55,44,15337374.5,0,0.000000e+00,29,30492.05,2089,604.71,SIM,1.628917e+06,4000000
1978,1979,2017-10-19,38,23,45,32,29,22,21868843.5,1,3.951514e+06,32,39401.20,2677,672.84,NÃO,0.000000e+00,11500000
1979,1980,2017-10-21,18,16,12,34,37,17,29605005.5,0,0.000000e+00,77,22167.05,4689,520.02,SIM,1.224307e+07,16000000
1980,1981,2017-10-25,15,6,39,19,37,53,36856522.5,0,0.000000e+00,85,24999.36,5215,582.09,SIM,1.615744e+07,20000000
1981,1982,2017-10-28,46,24,20,4,50,14,43498161.0,1,2.077720e+07,45,55730.37,4144,864.54,NÃO,0.000000e+00,2500000
1982,1983,2017-11-01,14,22,6,5,10,36,24465738.5,1,2.598402e+06,73,19322.76,4884,412.58,NÃO,0.000000e+00,2000000
1983,1984,2017-11-04,43,32,21,50,35,29,23646889.0,0,0.000000e+00,13,104873.13,1743,1117.40,SIM,1.306401e+07,16000000
1984,1985,2017-11-07,9,36,29,28,34,55,24088571.5,0,0.000000e+00,36,38578.22,2503,792.65,SIM,1.562235e+07,19000000
1985,1986,2017-11-09,55,23,44,43,36,56,32863243.0,0,0.000000e+00,41,46212.57,3164,855.47,SIM,1.911262e+07,24000000
1986,1987,2017-11-11,10,58,14,45,31,34,39415096.0,0,0.000000e+00,59,38516.27,3920,828.15,SIM,2.329873e+07,29000000
1987,1988,2017-11-16,5,39,10,54,46,42,44029100.5,0,0.000000e+00,87,29177.91,5711,634.98,SIM,2.797487e+07,33000000
1988,1989,2017-11-18,40,58,30,32,15,22,45738399.0,0,0.000000e+00,47,56106.95,3280,1148.53,SIM,4.525849e+07,50000000
1989,1990,2017-11-22,37,26,11,24,59,34,56129209.5,0,0.000000e+00,78,41488.51,5852,789.98,SIM,5.121974e+07,60000000
1990,1991,2017-11-25,19,34,44,36,20,28,66874573.5,0,0.000000e+00,80,48195.29,6152,895.32,SIM,5.832220e+07,65000000
1991,1992,2017-11-29,21,11,13,53,54,5,71423961.0,2,3.295392e+07,142,28999.41,11405,515.80,NÃO,0.000000e+00,2500000
1992,1993,2017-12-02,50,57,48,17,6,33,28484228.5,0,0.000000e+00,39,42108.85,3063,765.93,SIM,3.025189e+06,6700000
1993,1994,2017-12-06,44,5,32,2,12,40,31115808.5,0,0.000000e+00,51,35175.84,3686,695.28,SIM,2.328823e+07,28000000
1994,1995,2017-12-09,14,37,39,26,35,29,44206799.0,0,0.000000e+00,66,38617.02,4840,752.27,SIM,2.798324e+07,33000000
1995,1996,2017-12-13,56,21,20,7,40,24,48458620.0,0,0.000000e+00,144,19401.81,4933,809.08,SIM,3.312983e+07,39000000
1996,1997,2017-12-16,14,7,35,1,31,46,54280324.0,0,0.000000e+00,86,36389.62,6280,711.89,SIM,3.889471e+07,43500000
1997,1998,2017-12-19,57,21,24,52,25,8,38499475.0,0,0.000000e+00,61,36388.03,4810,659.24,SIM,4.298357e+07,48000000
1998,1999,2017-12-21,42,38,49,15,50,37,50491038.5,0,0.000000e+00,73,39877.23,4434,937.89,SIM,1.390996e+08,280000000
1999,2000,2017-12-31,6,37,34,10,3,17,890947368.5,17,1.804228e+07,4862,10565.03,173428,423.12,NÃO,0.000000e+00,2000000
2000,2001,2018-01-03,22,20,52,60,42,36,17710070.0,0,0.000000e+00,12,85088.83,1214,1201.53,SIM,1.880911e+06,4500000
2001,2002,2018-01-06,59,46,28,38,4,30,28829944.5,0,0.000000e+00,24,69257.39,2214,1072.51,SIM,4.942817e+06,8500000
2002,2003,2018-01-10,40,50,43,28,51,34,30509412.5,0,0.000000e+00,16,109937.90,1865,1347.38,SIM,8.183091e+06,12000000
2003,2004,2018-01-13,45,35,1,23,5,14,38638484.5,3,4.095573e+06,79,28198.54,6444,493.85,NÃO,0.000000e+00,12000000
2004,2005,2018-01-17,22,19,33,11,53,34,32721132.5,0,0.000000e+00,44,42875.50,4052,665.11,SIM,1.119825e+07,15000000
2005,2006,2018-01-20,20,9,1,14,54,25,38569461.0,0,0.000000e+00,71,31319.78,5500,577.58,SIM,1.529455e+07,20000000
2006,2007,2018-01-24,41,14,54,4,39,58,38825178.0,0,0.000000e+00,42,53296.38,3340,957.42,SIM,1.941801e+07,24000000
2007,2008,2018-01-27,27,22,58,33,59,42,43671250.0,0,0.000000e+00,49,51384.62,4215,853.36,SIM,2.405615e+07,30000000
2008,2009,2018-01-31,1,48,50,44,37,46,47352865.0,0,0.000000e+00,46,59350.17,3665,1064.16,SIM,4.251297e+07,48000000
2009,2010,2018-02-03,18,56,8,34,39,10,61968606.0,0,0.000000e+00,106,33705.40,7436,686.38,SIM,4.909439e+07,56000000
2010,2011,2018-02-06,28,35,58,54,2,32,43455856.5,0,0.000000e+00,119,21054.02,5949,601.64,SIM,5.370965e+07,59000000
2011,2012,2018-02-08,11,51,36,8,35,27,60329097.5,0,0.000000e+00,107,32506.98,6828,727.72,SIM,6.011695e+07,70000000
2012,2013,2018-02-10,6,36,53,30,56,23,69104360.5,0,0.000000e+00,159,25057.74,8465,672.37,SIM,6.745623e+07,71000000
2013,2014,2018-02-14,46,32,16,56,40,53,52356503.5,0,0.000000e+00,46,65621.53,4140,1041.61,SIM,9.219062e+07,100000000
2014,2015,2018-02-17,18,58,32,39,27,17,116332797.0,1,1.045458e+08,130,51593.19,12558,762.98,NÃO,0.000000e+00,3000000
2015,2016,2018-02-21,11,17,48,18,4,21,26614714.0,0,0.000000e+00,64,23975.93,4543,482.51,SIM,2.826635e+06,6200000
2016,2017,2018-02-24,56,10,11,2,38,24,34810982.5,0,0.000000e+00,123,16317.17,6125,468.10,SIM,6.523762e+06,11000000
2017,2018,2018-02-28,55,11,27,22,25,59,37486974.0,0,0.000000e+00,83,26039.70,4661,662.42,SIM,1.050509e+07,15000000
2018,2019,2018-03-03,41,46,54,59,23,52,45790930.5,0,0.000000e+00,54,48889.92,4043,932.84,SIM,3.279459e+07,40000000
2019,2020,2018-03-07,2,46,57,60,48,36,53716386.5,0,0.000000e+00,46,67325.96,4530,976.66,SIM,3.849958e+07,45000000
2020,2021,2018-03-10,32,37,40,60,7,14,61453154.0,0,0.000000e+00,101,35079.74,6982,724.93,SIM,4.502626e+07,52000000
2021,2022,2018-03-14,28,60,52,45,4,48,64651783.0,0,0.000000e+00,79,47183.15,6343,839.50,SIM,5.189265e+07,60000000
2022,2023,2018-03-17,23,56,8,7,1,6,73781900.5,2,2.986436e+07,217,19603.05,13622,446.11,NÃO,0.000000e+00,3000000
2023,2024,2018-03-21,29,16,20,35,47,23,25175416.0,0,0.000000e+00,45,32255.05,3221,643.75,SIM,2.128445e+07,25000000

In [40]:
#Vendo os números que mais apareceram no decorrer do 50 últimos sorteios
leitor[leitor["Concurso"] > 1974][colunas].unstack().value_counts()[0:6]

14    10
34    10
37     9
46     9
32     9
11     8
dtype: int64

In [23]:
#Análise dos 10 primeiros Sorteios
leitor.iloc[-10:-1]

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
2015,2016,2018-02-21,11,17,48,18,4,21,26614714.0,0,0.00,64,23975.93,4543,482.51,SIM,2826635.42,6200000
2016,2017,2018-02-24,56,10,11,2,38,24,34810982.5,0,0.00,123,16317.17,6125,468.10,SIM,6523761.62,11000000
2017,2018,2018-02-28,55,11,27,22,25,59,37486974.0,0,0.00,83,26039.70,4661,662.42,SIM,10505093.47,15000000
2018,2019,2018-03-03,41,46,54,59,23,52,45790930.5,0,0.00,54,48889.92,4043,932.84,SIM,32794593.50,40000000
2019,2020,2018-03-07,2,46,57,60,48,36,53716386.5,0,0.00,46,67325.96,4530,976.66,SIM,38499582.15,45000000
2020,2021,2018-03-10,32,37,40,60,7,14,61453154.0,0,0.00,101,35079.74,6982,724.93,SIM,45026259.92,52000000
2021,2022,2018-03-14,28,60,52,45,4,48,64651783.0,0,0.00,79,47183.15,6343,839.50,SIM,51892650.46,60000000
2022,2023,2018-03-17,23,56,8,7,1,6,73781900.5,2,29864355.95,217,19603.05,13622,446.11,NÃO,0.00,3000000
2023,2024,2018-03-21,29,16,20,35,47,23,25175416.0,0,0.00,45,32255.05,3221,643.75,SIM,21284448.74,25000000

In [46]:
#Análise dos 10 primeiros Sorteios, para focar nos que tem dado mais "sorte" ultimamente
leitor[leitor["Data Sorteio"] > "2018-02-21"][colunas].unstack().value_counts()[0:13]

60    3
46    3
23    3
56    3
52    3
59    2
11    2
7     2
48    2
4     2
55    2
2     2
24    2
dtype: int64

In [30]:
#Análise dos 5 primeiros Sorteios
leitor.iloc[-5:-1]

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio
2020,2021,2018-03-10,32,37,40,60,7,14,61453154.0,0,0.00,101,35079.74,6982,724.93,SIM,45026259.92,52000000
2021,2022,2018-03-14,28,60,52,45,4,48,64651783.0,0,0.00,79,47183.15,6343,839.50,SIM,51892650.46,60000000
2022,2023,2018-03-17,23,56,8,7,1,6,73781900.5,2,29864355.95,217,19603.05,13622,446.11,NÃO,0.00,3000000
2023,2024,2018-03-21,29,16,20,35,47,23,25175416.0,0,0.00,45,32255.05,3221,643.75,SIM,21284448.74,25000000

In [62]:
#Análise dos 5 primeiros Sorteios, para focar nos que tem dado mais "sorte" ultimamente
leitor[leitor["Concurso"] > 2020][colunas].unstack().value_counts()[0:13]

60    2
4     2
56    2
23    2
52    2
7     2
14    1
45    1
1     1
37    1
6     1
40    1
8     1
dtype: int64

In [47]:
#Criando uma coluna para Armazenar os valor total do prêmio
leitor["Prêmio"] = leitor.Ganhadores_Sena * leitor.Rateio_Sena
leitor.head()

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio,Prêmio
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0,0.00
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0,2307162.23
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0,782385.02
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0,0.00
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0,0.00

In [49]:
#Vendo qual sorteio teve o maior prêmio
leitor.iloc[leitor.Prêmio.idxmax()]

Concurso                            2000
Data Sorteio         2017-12-31 00:00:00
Dezena1                                6
Dezena2                               37
Dezena3                               34
Dezena4                               10
Dezena5                                3
Dezena6                               17
Arrecadacao_Total            8.90947e+08
Ganhadores_Sena                       17
Rateio_Sena                  1.80423e+07
Ganhadores_Quina                    4862
Rateio_Quina                       10565
Ganhadores_Quadra                 173428
Rateio_Quadra                     423.12
Acumulado                            NÃO
Valor_Acumulado                        0
Estimativa_Prêmio                2000000
Prêmio                       3.06719e+08
Name: 1999, dtype: object

In [50]:
#Criando uma coluna para saber o sorteio com o maior número de ganhadores
leitor["Total de Ganhadores"] = leitor["Ganhadores_Sena"] + leitor["Ganhadores_Quina"] + leitor["Ganhadores_Quadra"]
leitor.head()

,Concurso,Data Sorteio,Dezena1,Dezena2,Dezena3,Dezena4,Dezena5,Dezena6,Arrecadacao_Total,Ganhadores_Sena,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Prêmio,Prêmio,Total de Ganhadores
0,1,1996-03-11,41,5,4,52,30,33,0.0,0,0.00,17,39158.92,2016,330.21,SIM,1714650.23,0,0.00,2033
1,2,1996-03-18,9,39,37,49,43,41,0.0,1,2307162.23,65,14424.02,4488,208.91,NÃO,0.00,0,2307162.23,4554
2,3,1996-03-25,36,30,10,11,29,47,0.0,2,391192.51,62,10515.93,4261,153.01,NÃO,0.00,0,782385.02,4325
3,4,1996-04-01,6,59,42,27,1,5,0.0,0,0.00,39,15322.24,3311,180.48,SIM,717080.75,0,0.00,3350
4,5,1996-04-08,1,19,46,6,16,2,0.0,0,0.00,98,5318.10,5399,96.53,SIM,1342488.85,0,0.00,5497

In [51]:
#Vendo qual sorteio teve o maior sorteio
leitor.iloc[leitor["Total de Ganhadores"].idxmax()]

Concurso                              2000
Data Sorteio           2017-12-31 00:00:00
Dezena1                                  6
Dezena2                                 37
Dezena3                                 34
Dezena4                                 10
Dezena5                                  3
Dezena6                                 17
Arrecadacao_Total              8.90947e+08
Ganhadores_Sena                         17
Rateio_Sena                    1.80423e+07
Ganhadores_Quina                      4862
Rateio_Quina                         10565
Ganhadores_Quadra                   173428
Rateio_Quadra                       423.12
Acumulado                              NÃO
Valor_Acumulado                          0
Estimativa_Prêmio                  2000000
Prêmio                         3.06719e+08
Total de Ganhadores                 178307
Name: 1999, dtype: object

In [52]:
#As próximas três analisarão quais sorteio tem o maior número de ganhadores em cada possibilidade de vitória
leitor.iloc[leitor["Ganhadores_Quina"].idxmax()]

Concurso                              2000
Data Sorteio           2017-12-31 00:00:00
Dezena1                                  6
Dezena2                                 37
Dezena3                                 34
Dezena4                                 10
Dezena5                                  3
Dezena6                                 17
Arrecadacao_Total              8.90947e+08
Ganhadores_Sena                         17
Rateio_Sena                    1.80423e+07
Ganhadores_Quina                      4862
Rateio_Quina                         10565
Ganhadores_Quadra                   173428
Rateio_Quadra                       423.12
Acumulado                              NÃO
Valor_Acumulado                          0
Estimativa_Prêmio                  2000000
Prêmio                         3.06719e+08
Total de Ganhadores                 178307
Name: 1999, dtype: object

In [53]:
leitor.iloc[leitor["Ganhadores_Quadra"].idxmax()]

Concurso                              2000
Data Sorteio           2017-12-31 00:00:00
Dezena1                                  6
Dezena2                                 37
Dezena3                                 34
Dezena4                                 10
Dezena5                                  3
Dezena6                                 17
Arrecadacao_Total              8.90947e+08
Ganhadores_Sena                         17
Rateio_Sena                    1.80423e+07
Ganhadores_Quina                      4862
Rateio_Quina                         10565
Ganhadores_Quadra                   173428
Rateio_Quadra                       423.12
Acumulado                              NÃO
Valor_Acumulado                          0
Estimativa_Prêmio                  2000000
Prêmio                         3.06719e+08
Total de Ganhadores                 178307
Name: 1999, dtype: object

In [55]:
leitor.iloc[leitor["Ganhadores_Sena"].idxmax()]

Concurso                              2000
Data Sorteio           2017-12-31 00:00:00
Dezena1                                  6
Dezena2                                 37
Dezena3                                 34
Dezena4                                 10
Dezena5                                  3
Dezena6                                 17
Arrecadacao_Total              8.90947e+08
Ganhadores_Sena                         17
Rateio_Sena                    1.80423e+07
Ganhadores_Quina                      4862
Rateio_Quina                         10565
Ganhadores_Quadra                   173428
Rateio_Quadra                       423.12
Acumulado                              NÃO
Valor_Acumulado                          0
Estimativa_Prêmio                  2000000
Prêmio                         3.06719e+08
Total de Ganhadores                 178307
Name: 1999, dtype: object